@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-ItalicMT.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-BoldMT.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Prata', sans-serif;
    font-weight: normal;
    color: #FFFFFF;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    height: 100vh;
}

.hero__left {
    max-width: 900px;
    padding: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
}

.logo {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 36px;
    cursor: pointer;
}
.header__nav {
}
.nav {
    display: flex;
    gap: 15px;
}
.nav__item {
    font-family: Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 14px;
    font-style: italic;
}

.nav__item:hover {
    text-decoration: underline;
}

.menu-button {
    position: relative;
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: 30px;
    justify-content: space-between;
    margin-left: 80px;
}

.menu-button__line {
    position: relative;
    width: 40px;
    border: 2px solid #FFFFFF;
    transition: all 0.3s;
}

.menu-button_active > :nth-child(1) {
    position: absolute;
    bottom: 14px;
    transform: rotate(-45deg);
}

.menu-button_active > :nth-child(2) {
    transform: scale(0);
}

.menu-button_active > :nth-child(3) {
    position: absolute;
    bottom: 14px;
    transform: rotate(45deg);
}

main {
   margin-top: 100px;
}

.title {
    font-size: 50px;
}

.description {
    font-size: 20px;
    margin-top: 50px;
}

.benefits {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.benefits__item {
   display: flex;
   align-items: center;
   gap: 10px;
}

.benefits__icon {
}

.benefits__text {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.hero__btn {
    max-width: 191px;
    height: 50px;
    font-family: Arial, sans-serif;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-top: 40px;
    transition: background-color 0.2s ease, transform 0.1s ease;
   
}

.btn:hover {
    background-color: #eaeaea;
  }
  
.btn:active {
transform: scale(0.98);
}

.hero__right  {
    height: 100vh;
    max-width: 850px;
    overflow: hidden;
}

.hero__right img {
    max-width: 100%;
    height: 800px;
}

.info-section {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    background-color: #282829;
    padding: 100px 0px 30px 30px;    
}

.info-section__content {
    max-width: 614px;
}
.info-section__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}
.info-section__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-section__item:not(:last-child) {
    border-bottom: 1px solid #55565A;
    padding-bottom: 40px;
}
.info-section__icon {
}
.info-section__text {
}

.info-section__btn {
    width: 100%;
    height: 74px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #282829;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-top: 60px;
}

.info-section__image {
   
}

.info-section__image img {
    max-width: 589px;
    height: auto;
    display: block;
}

.form-section {
    background-color: #222222;
    padding: 100px 30px 0 30px;

}

.form-container {
    display: flex;
    max-width: 1200px;
    height: 628px;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
    padding: 30px;
    border-radius: 30px;
}
.form-left {
    max-width: 781px;
}
.form-title h2 {
    font-size: 54px;
    color: #38535D;
    margin-bottom: 30px;
}

form {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

input {
    border: 1px solid #D6D6D6;
    max-width: 500px;
    height: 40px;
    padding-left: 40px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox input {
    width: 24px;
    height: 24px;
}

.checkbox span {
    font-size: 14px;
    color: #55565A;
}

.form-btn {
    background-color: #282829;
    max-width: 500px;
    height: 80px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.form-right {
    position: absolute;
    right: -23px;
    top: -30px;
    width: 430px;
}

.form-right img {
   width: 100%;
}

@media (max-width: 1250px) {
    .hero__right  {
      display: none;
    }
}

@media (max-width: 1180px) {
    .form-title h2{
        width: 380px;
        font-size: 44px;
    }
}

@media (max-width: 1110px) {
    .info-section {
      flex-direction: column;
      padding-right: 30px;
      padding-top: 30px;
    }

    .info-section__content {
        order: 2;
        max-width: 100%;
    }

    .info-section__image img {
        max-width: 100%;
    }

    .form-section {
        padding-top: 30px;
    }
}

@media (max-width: 885px) {
    .form-container {
        height: 520px;
    }

    .form-title h2{
        width: auto;
    }

    input {
        max-width: 100%;
    }

    .form-btn {
        max-width: 100%;
        height: 80px;
    }

    .form-right {
        display: none;
    }
}

@media (max-width: 820px) {
    main {
        margin-top: 50px;
    }

    .title {
        font-size: 40px;
    }
    
    .description {
        font-size: 20px;
        margin-top: 50px;
    }
}

@media (max-width: 728px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits {
        flex-direction: row;
        margin-top: 80px;
    }

    .hero__btn {
        margin-top: 110px;
    }
}


@media (max-width: 660px) {
    .nav  {
      display: none;
    }

    .menu-button {
        display:flex;
    }

    .hero__left {
        padding: 15px;
    }

    .info-section {
        padding: 30px 15px 0px 15px;
    }

    .form-section, .form-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-title h2 {
        font-size: 34px;
    }

}

@media (max-width: 500px) {
    .logo {
        font-size: 20px;
    }

    .hero__left {
        align-items: center;
    }

    main {
        margin-top: 100px;
    }

    .benefits {
        flex-direction: column;
    }

    .title {
        font-size: 20px;
    }
    
    .description {
        font-size: 15px;
        margin-top: 50px;
    }

    .benefits__text {
        font-size: 14px;
    }
}

@media (max-width: 460px) {
    .info-section__image {
        display: none;
    }

    .form-container {
        height: 447px;
    }

    .form-title h2 {
        font-size: 24px;
    }
}

@media (max-width: 440px) {
    .description {
        margin-top: 30px;
    }
}

